{% extends "base.html" %}

{% block content %}
      <form>
        <div class="form-group">
          <label class="control-label">Редактирование {{gr}} группы </label>
          <div class="controls">
            <input class="form-control" type="text" placeholder="группа {{gr}} ">   
          </div>
          {% if gr.student_set.count > 0 %}
            <select class="form-control">
            {% for fio in gr.student_set.all %}
              {% if fio = gr.starosta %}
                 <option selected value={{ fio }}>{{ fio }}</option>
              {% else %}
              <option value={{ fio }}>{{ fio }}</option>
              {% endif %}
            {% endfor %}
            </select>
           {% endif %}
        </div>
      </form>
      <a class="btn btn-primary">Сохранить</a>
      <br> <a href="{% url "grups_list" %} ">Назад к списку </a> </br>
{% endblock %}