{% extends "base.html" %}

{% block content %}
    <div class="col-md-8">
        <div class="form-group">
         <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            {% if grup_id %}
            <div class="form-group">
                {{ form.starosta.label_tag }}
                {{ form.starosta }}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-md">Сохранить </button>
          </form>
       </div>
      <br> <a href="{% url "grups_list" %} ">Назад к списку </a> </br>
    </div>
{% endblock %}