<!doctype html>

<html>
  
  <head>
    <title>Edit {{gr_id}} Group</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    <div class="container">
      <form>
        <div class="form-group">
          <label class="control-label">Редактирование {{gr_id}} группы </label>
          <div class="controls">
            <input class="form-control" type="text" placeholder={{gr_id.name}}> 
          </div>
            <select class="form-control">
            {% for fio in gr_id.student_set.all %}
              {% if fio = gr_id.starosta %}
                 <option selected value={{ fio }}>{{ fio }}</option>
              {% else %}
              <option value={{ fio }}>{{ fio }}</option>
              {% endif %}
            {% endfor %}
            </select>
        </div>
      </form>
      <a class="btn btn-primary">Сохранить</a>
      <br> <a href="{% url "grups_list" %} ">Назад к списку </a> </br>
    </div>
  </body>

</html>