{% extends "base.html" %}

{% block content %}
    <div class="container">
      <form>
        <div class="form-group">
          <label class="control-label">Создание новой группы </label>
          <div class="controls">
            <input class="form-control" type="text" placeholder="Введите название группы"> 
          </div>
            <select class="form-control">
              <option disabled >None</option>
            </select>
        </div>
      </form>
      <a class="btn btn-primary">Создать</a>
      <br> <a href="{% url "grups_list" %} ">Назад к списку </a> </br>
    </div>
 {% endblock %}