{% extends "base.html" %}

{% block content %}
      <h1>Students</h1>
      <table class="table">
        <thead>
          <tr>
            <th> ФИО Студента </th>
            <th> Дата рождения </th>
            <th> Группа  </th>
            <th> Билет </th>
            <th> Староста </th>
            <th> Edit </th>
          </tr>
        </thead>
        <tbody>
          {% for fio in gr_id.student_set.all %}
            <tr>
             <th> {{ fio }} </th>
             <th> {{ fio.bdata|date:"SHORT_DATE_FORMAT" }} </th>
             <th> {{ gr_id  }} </th>
             <th> {{ fio.bilet }} </th>
             {% if fio = gr_id.starosta %}
                <th> Староста </th>
             {% else %}
                <th> -- </th>
             {% endif %}
             <th> <a href="{% url "student_edit" gr_id.pk fio.pk %} "> Edit </a> </th>
            </tr>
          {% endfor %}
            <tr>
             <th> Количество студентов в группе </th>
             <th> {{ gr_id.student_set.count }} </th>
             <th>  </th>
             <th>  </th>
             <th>  </th>
             <th>  </th>
            </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" href="{% url "student_create" gr_id.pk %} ">Добавить студента </a>
      <br> <a href="{% url "grups_list" %} ">Назад к списку </a> </br>
{% endblock %}
