<!doctype html>

<html>
  
  <head>
    <title>Редактировать данные студента {{stud_id}} </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
     $(document).ready(function() {
     //if($("#fioID").val()=="") //simple validation
     //   {
     //       alert("Введите все данные!");
     //       return false;
     //   }
        jQuery.ajax({
            type: "POST", // HTTP метод  POST или GET
            url: "",
            dataType:"json", // Тип данных,  которые пришлет сервер в ответ на запрос ,например, HTML, json
            data:$(this).serialize(), //данные, которые будут отправлены на сервер (post переменные)
            success:function(response){
                 alert('Данные изменены');
            }
            error:function (xhr, ajaxOptions, thrownError){
                alert(thrownError); //выводим ошибку
            }
        });
     }); 
    </script>
  </head>
  
  <body>
    <div class="container">
      <form action="/save/" method="post">
        <div class="form-group">
          <label class="control-label">Редактировать данные студента {{stud_id}}</label>
          <div class="controls">
            <input class="form-control" type="text" name="fio" id="fioID" placeholder={{stud_id.fio}}> 
          </div>
          <div class="controls">
            <input class="form-control" type="date" name="bdata" id="bdataID" placeholder={{stud_id.bdata|date:"SHORT_DATE_FORMAT"}}> 
          </div>
          <div class="controls">
            <input class="form-control" type="text" name="bilet" id="biletID" placeholder={{stud_id.bilet}}> 
          </div>
            <select class="form-control" name="cgrup" id="cgrupID">
             {% for name in gr_list %}
              {% if stud_id.cgrup = name %}
                <option selected value={{name}}> {{name}} </option>
              {% else %}
                <option value={{name}}> {{name}} </option>
              {% endif %}
            {% endfor %}
            </select>
        </div>
        <input type="submit"/ value="Сохранить"> 
        <br> <a href="{% url "students_list" gr_id %} ">Назад к списку </a> </br>
      </form>
    </div>
  </body>

</html>